<!DOCTYPE html>
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bienvenue</title>
	</head>
	<body>
		<p>
			Bienvenue,
			{{firstName}}
			{{lastName}}, vous avez
			{{age}}
			ans !
		</p>
	</body>
</html>
