<!DOCTYPE html>
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mon numéro fétiche</title>
	</head>
	<body>
		<p>Votre numéro favoris est le
			<b style="color:red">{{ number }}</b>.
		</p>
	</body>
</html>